.tip
  Изменить пароль
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f|
  = devise_error_messages!
  .form-group
    .col-sm-2.control-label
      = f.label :current_password
    .col-sm-8
      %i (we need your current password to confirm your changes)
      = f.password_field :current_password, autocomplete: 'off', class: 'form-control'

  .form-group
    .col-sm-2.control-label
      = f.label :password
    .col-sm-8
      %i (leave blank if you don't want to change it)
      = f.password_field :password, autocomplete: 'off', class: 'form-control'

  .form-group
    .col-sm-2.control-label
      = f.label :password_confirmation
    .col-sm-8
      = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
  %hr

  .form-group
    .col-sm-12
      = f.submit 'Изменить', class: 'btn btn-success'
      = link_to 'Назад', :back, class: 'btn btn-default'