%h2 Sign up

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .field
    = f.label :email
    %br
    = f.text_field :email, autofocus: true

  .field
    = f.label 'Имя'
    %br
    = f.text_field :first_name

  .field
    = f.label 'Фамилия'
    %br
    = f.text_field :last_name

  .field
    = f.label 'Должность'
    %br
    = f.text_field :post
  .field
    = f.label 'Регион'
    %br
    = f.select(:region_id,  options_for_select(Region.all.map{ |r| [r.name, r.id] }), {})
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br
    = f.password_field :password, autocomplete: 'off'

  .field
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation, autocomplete: 'off'

  .actions
    = f.submit 'Sign up'