<tr>
    <td><%= name %></td>
    <td><%= salary %></td>
    <td>
        <span class = "<%= css_class %>">
            <%= status %>
        </span>
    </td>
    <td class = "text-center">
        <a rel = "nofollow" data-method = "delete" href = "<%= close %>">
            <i class = 'glyphicon glyphicon-remove-circle'></i>
        </a>
    </td>
</tr>