= stylesheet_link_tag 'stickers'
= javascript_include_tag 'stickers'
= javascript_include_tag 'charCount'

.col-xs-5
  - if @events.present?
    .panel.add-shadows
      .panel-heading
        .panel-title
          = 'Предстоящие события'
      .panel-body
        %table.table.table-striped.table-responsive
          %tbody
            - @events.each do |event|
              %tr
                %td
                  %span.label.label-default
                    Интервью
                %td
                  %span.label.label-info
                    = event.starts_at.strftime('%e %b %H:%M')

                %td="кандидат: #{link_to 'Ланистер', candidate_path('#')}".html_safe
                %td="на должность #{link_to 'Рубист', vacancy_path('#')}".html_safe

  .panel.add-shadows
    .panel-heading
      .panel-title
        = 'Последние действия над вакансиями'
    .panel-body
      %table.table.table-striped.table-responsive
        %tbody
          - @staff_relations.each do |sr|
            %tr
              %td= link_to sr.vacancy.try(:name), vacancy_path(sr.vacancy || '#'), id: 'vacancy-name'
              %td= "кандидат: #{link_to sr.candidate.try(:name), candidate_path(sr.candidate.try(:name) || '#')}".html_safe
              %td
                %span{ class: "label label-#{return_status_label(sr)}" }
                  = sr.status
              %td
                .label.label-info
                  = sr.updated_at.strftime('%e %b %H:%M')
.col-xs-7
  .panel.add-shadows
    .panel-heading
      .panel-title
    .panel-body
      .row
        .col-xs-3
          .btn-group-vertical.btn-block{ 'aria-label' => 'Vertical button group', role: 'group' }
            = link_to 'Добавить стикер', new_sticker_path, remote: true, class: 'btn btn-success'
            = link_to 'Закрытые стикеры', archives_path(object_name: 'stickers'), class: 'btn btn-warning'
        .stickers
          = render  partial: 'sticker', collection: @stickers
          -#- @stickers.each do |sticker|
            = render  partial: 'sticker', locals: { sticker: sticker }
        = render 'stickers/dialog'
      .row
        .col-xs-12
          #stickers-pagination
            = render partial: 'stickers_pagination', locals: { stickers: @stickers }
