= stylesheet_link_tag 'stickers'
= javascript_include_tag 'stickers'
= javascript_include_tag 'charCount'

.row
  .col-lg-5
    .tip
      %p
        = 'Предстоящие события'
    - if @events.present?
      %table.table.table-striped.table-responsive
        %tbody
          - @events.each do |event|
            %tr
              %td
                %span.label{ class: set_label_class(event) }= event.name
              - if event.staff_relation
                %td= event.staff_relation.vacancy.name
                %td= event.staff_relation.candidate.name
              - else
                %td= '------'
                %td= '------'
              %td
                %span.label.label-primary= event.will_begin_at.strftime('%H:%M')
                = event.will_begin_at.strftime('%d/%m/%Y')
    - else
      %ul.list-group
        %li.list-group-item.list-group-item-warning
          У Вас нет ни единого события!
    %hr
    .tip
      %p
        = 'Последние действия на сайте: '
    - if @changes_history.present?
      %table.table.table-striped.table-responsive.history
        %tbody
          - @changes_history.each  do |sr|
            %tr
              %td
                = "Изменения: "
                = link_to @staff_relations.find(sr.history_eventable_id).candidate.name, candidate_path(@staff_relations.find(sr.history_eventable_id).candidate_id)
                %span{ style: 'color: red' }
                  = 'в объекте'
                = link_to @staff_relations.find(sr.history_eventable_id).vacancy.name, vacancy_path(@staff_relations.find(sr.history_eventable_id).vacancy_id)

              %td= "Пользователем: #{sr.user.try(:name)}".html_safe
              %td

                %strong
                  со
                  %span{ style: "color: blue;" }
                    старого статуса
                =sr.old_status
                %strong
                  на
                  %span{ style: "color: red;" }
                    новый статус
                =sr.new_status
              %td
                .label.label-info
                  = sr.updated_at.strftime('%e %b %H:%M')
    - else
      %ul.list-group
        %li.list-group-item.list-group-item-warning
          У Вас нет вакансий!
  .col-lg-7
    .tip
      %p
        = 'Список стикеров'

    .pull-left{ style: 'padding-right: 15px; padding-bottom: 15px;' }
      .panel-body{ style: 'background-color: #777; min-height: 125px; width: 223px;' }
        = link_to 'Добавить стикер', new_sticker_path, remote: true, class: 'btn btn-success btn-block'
        = link_to 'Закрытые стикеры', archives_path(object_name: 'stickers'), class: 'btn btn-warning btn-block'
    .stickers
      = render partial: 'sticker', collection: @stickers

    .row
      .col-xs-12
        #stickers-pagination
          = render partial: 'stickers_pagination', locals: { stickers: @stickers }

= render 'stickers/dialog'