= stylesheet_link_tag 'stickers'
= javascript_include_tag 'stickers'
= javascript_include_tag 'charCount'

.row
  .col-lg-5
    .tip
      %p
        = 'Предстоящие события'
    - if @events.present?
      %table.table.table-striped.table-responsive
        %tbody
          - @events.each do |event|
            %tr
              %td
                %span.label{ class: set_label_class(event) }= event.name
              - if event.staff_relation
                %td= event.staff_relation.vacancy.name
                %td= event.staff_relation.candidate.name
              - else
                %td= '------'
                %td= '------'
              %td
                %span.label.label-primary= event.starts_at.strftime('%H:%M')
                = event.starts_at.strftime('%d/%m/%Y')
    - else
      %ul.list-group
        %li.list-group-item.list-group-item-warning
          У Вас нет ни единого события!
    %hr
    .tip
      %p
        = 'Последние действия над вакансиями'
    %table.table.table-striped.table-responsive
      %tbody
        - @staff_relations.each do |sr|
          %tr
            %td= link_to sr.vacancy.try(:name), vacancy_path(sr.vacancy || '#'), id: 'vacancy-name'
            %td= "кандидат: #{link_to sr.candidate.try(:name), candidate_path(sr.candidate.id)}".html_safe
            %td
              %span{ class: "label label-#{return_status_label(sr)}" }
                = sr.status
            %td
              .label.label-info
                = sr.updated_at.strftime('%e %b %H:%M')
  .col-lg-7
    .tip
      %p
        = 'Список стикеров'
    .row
      .col-xs-3
        .panel-body{ style: 'background-color: #777; min-height: 125px;' }
          = link_to 'Добавить стикер', new_sticker_path, remote: true, class: 'btn btn-success btn-block'
          = link_to 'Закрытые стикеры', archives_path(object_name: 'stickers'), class: 'btn btn-warning btn-block'

      .stickers
        = render partial: 'sticker', collection: @stickers
    .row
      .col-xs-12
        #stickers-pagination
          = render partial: 'stickers_pagination', locals: { stickers: @stickers }

= render 'stickers/dialog'