<tr class="candidate_<%= candidate_id %>">
    <td>
        <input value="<%= candidate_id %>" name="staff_relation[candidate_id][]" id="staff_relation_candidate_id_<%= candidate_id %>" type="checkbox">
        <%= candidate_name %>
    </td>
    <td><%= candidate_salary %></td>
    <td class="staff_relations" >
    </td>
</tr>