= form_for @vacancy do |f|
  - if @vacancy.errors.any?
    %h2 Возникшие ошибки:
    %ul
      - @vacancy.errors.full_messages.each do |message|
        %li
          = message
  .row
    .col-xs-6
      .form-group
        = f.label :name, 'Вакансия:'
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :salary, 'Зарплата:'
        = f.text_field :salary, class: 'form-control'
      .form-group
        = f.radio_button :salary_format, 'USD', checked: true
        = f.label :salary_format, 'USD'

        = f.radio_button :salary_format, 'UAH'
        = f.label :salary_format, 'UAH'

        = f.radio_button :salary_format, 'По договоренности'
        = f.label :salary_format, 'По договоренности'
      .form-group
        = f.label :region_id, 'Регион:'
        = select_tag(:region,  options_for_select(Region::NAMES, @vacancy.region_name), class: 'form-control')
      .form-group
        = f.label :status, 'Статус:'
        = f.select(:status, ['status1', 'status2', 'status3'], {}, class: 'form-control')
      .form-group
        = f.label :laguages, 'Языки:'
        = f.text_field :languages, class: 'form-control'
      .form-group
        = f.label :requirements, 'Требования:'
        = f.text_area :requirements, rows: 5, class: 'form-control'
      .form-group
        = f.submit @vacancy.new_record? ? 'Создать' : 'Обновить', class: 'btn btn-default'
        = link_to 'Назад', :back, class: 'btn btn-default'