
= form_for @vacancy, remote: true, html: { role: 'form' } do |f|
  #error_explanation.bg-danger.text-danger
  .form-group
    = hidden_field_tag :sr_status, @sr_status
    = f.radio_button :status, 'Не задействована'
    = f.label 'Не задействована', class: 'label label-default'
  .form-group
    = f.radio_button :status, 'В работе'
    = f.label 'В работе', class: 'label label-success'
  .form-group
    = f.radio_button :status, 'Закрыта'
    = f.label 'Закрыта', class: 'label label-danger'
  .form-group
    = f.submit 'Сохранить', class: 'btn btn-default'
