= form_for @vacancy, html: { class: 'form-horizontal'} do |f|
  .form-group
    = f.label :name, 'Вакансия:', class: 'col-md-1'
    .col-md-6
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :salary, 'Зарплата:', class: 'col-md-1'
    .col-md-6
      = f.text_field :salary, class: 'form-control'
    = f.radio_button :salary_format, 'usd'
    = f.label :salary_format, 'USD'
    %br
    = f.radio_button :salary_format, 'uah'
    = f.label :salary_format, 'UAH'
  .form-group
    = f.label :region, 'Регион:', class: 'col-md-1'
    .col-md-6
      = f.text_field :region, class: 'form-control'
  .form-group
    = f.label :status, 'Статус:', class: 'col-md-1'
    .col-md-6
      = f.select(:status, ['status1', 'status2', 'status3'], {}, class: 'form-control')
  .form-group
    = f.label :laguages, 'Языки:', class: 'col-md-1'
    .col-md-6
      = f.text_field :languages, class: 'form-control'
  .form-group
    = f.label :requirements, 'Требования:', class: 'col-md-1'
    .col-md-11
      = f.text_area :requirements, rows: 5, class: 'form-control'
  .form-group
    .col-md-offset-1
      = f.submit @vacancy.new_record? ? 'Создать' : 'Обновить', class: 'btn btn-default'
      = link_to 'Назад', :back, class: 'btn btn-default'