-# coding 'utf-8'
- content_for :left_sidebar do
  .panel-success
    .panel-heading
      Управление
  .panel-body
    - if status.present?
      %code= 'Статус вакансии:'
      = link_to status, edit_vacancy_path(vacancy), remote: true, class: 'label label-info'
    -else
      %code= 'Статус вакансии: в процессе'
    %br
    %code
      = "Ответственный: #{get_author_vacancy(vacancy)}"
