
- if status.present?
  %code= 'Статус вакансии:'
  = link_to status, edit_vacancy_path(vacancy), remote: true, class: 'label label-info'
-else
  %code= 'Статус вакансии: в процессе'
%br
%code
  = "Ответственный: #{get_author_vacancy(vacancy)}"
%hr
  .pull-right
    = link_to 'Добавить кандидатов к этой вакансии', '#', class: 'btn btn-default', id: 'add-to-vacancy'
.clearfix
%hr
  .pull-right
    = link_to 'Редактировать', edit_vacancy_path(@vacancy), class: 'btn btn-default'
    = link_to 'Назад', :back, class: 'btn btn-default'