.vacancy-candidates
  = render partial: 'vacancies/vacancy_candidates', locals: { candidates: @candidates_with_found_status, vacancy: @vacancy }


.modal.fade#myModal
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ "aria-label" => "close", "data-dismiss" => "modal", type:'button' }
          %span{ "aria-hidden" => true }
            &times;
        %h4.modal-title Кандидаты
      .modal-body
        #candidates-multiselect{data: { vacancyid: @vacancy.id } }
          .panel.panel-primary
            %table.table.table-bordered
              %thead.td-primary
                %tr
                  %th Имя
                  %th Зарплата
                  %th Примечание
              %tbody
                - @candidates.each do |candidate|
                  -unless StaffRelation.find_by(vacancy_id: @vacancy.id, candidate_id: candidate.id)
                    %tr
                      %td
                        = check_box_tag 'mark-as-found-candidate', candidate.id
                        = candidate.name
                      %td= candidate.salary
                      %td
                        - if candidate.is_passive?
                          Имеет статус
                          &nbsp;
                          %span.label.label-primary
                            = candidate.status
                        - else
                          - candidate.staff_relations.each do |sr|
                            %p{style: 'font-size: 14px'}
                              Имеет статус
                              &nbsp;
                              %span{ class: "label label-#{return_status_label(sr)}" }
                                = sr.status
                              &nbsp;
                              для вакансии
                              %span.label.label-info
                                = sr.vacancy.name
      .modal-footer
        %button.btn.btn-default{ type: 'button', "data-dismiss" => "modal" } Отменить
        %button.btn.btn-primary#btn-apply{ type: 'button' } Выбрать