= content_for :sidebar do
  .sidebar-title
    %span
  %hr

#vacancy
  #edit-title
    %p Создать новую вакансию / отредактировать вакансию
  = form_for @vacancy do |f|
    .form-group
      = f.label :name, 'Вакансия:'
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :salary, 'Зарплата:'
      = f.radio_button :salary, 'usd'
      = f.label :salary, 'USD'
      %br
      = f.radio_button :salary, 'uah'
      = f.label :salary, 'UAH'
    .form-group
      = f.label :region, 'Регион:'
      = f.text_field :region, class: 'form-control'
    .form-group
      = f.label :status, 'Статус:'
      = f.select(:status, ['status1', 'status2', 'status3'], {}, class: 'form-control')
    .form-group
      = f.label :laguages, 'Языки:'
      = f.text_field :languages, class: 'form-control'
    .form-group
      = f.label :requirements, 'Требования:'
      = f.text_area :requirements, rows: 10, class: 'form-control'
    .form-group
      = f.submit 'Создать/Обновить', class: 'btn btn-success'
      = link_to 'Назад', :back, class: 'btn btn-primary'