.panel.panel-success
  .panel-heading.panel-title
    Вакансии
  .panel-body
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th №
          %th Вакансия
          %th Регион
          %th Зарплата
          %th Ответственный
          %th Статус
      %tbody
        - @vacancies.each_with_index do |vacancy, index|
          %tr
            %th= index + 1
            %td= link_to vacancy.name, vacancy_path(vacancy), id: 'vacancy-name'
            %td= vacancy.region.try(:name)
            %td= get_salary(vacancy)
            %td= full_name_for(vacancy.owner)
            %td= vacancy.status

- content_for :left_sidebar do
  .panel-success
    .panel-heading
      Поиск
  .panel-body
    .form-group
      %input#inputEmail3.form-control{ placeholder: 'Введите слово' }
    .form-group
      %button.btn.btn-success{ type: 'submit' } Найти