= render partial: 'share/search'
.row
  .col-lg-10.col-lg-offset-1
    .row
      .col-md-6
        .tip
          %p
            Вакансии
      .col-md-6
        .pull-right
          = link_to 'Закрытые вакансии', archives_path(object_name: 'vacancies'), class: 'btn btn-warning btn-block'
    .row
      .col-md-12
    .items-list
      %table.table.table-hover.table-bordered
        %thead
          %tr
            %th Вакансия
            %th Регион
            %th Зарплата
            %th Ответственный
            %th Статус
        %tbody
          - @vacancies.each do |vacancy|
            %tr
              %td= link_to vacancy.name, vacancy_path(vacancy), id: 'vacancy-name'
              %td= vacancy.region.try(:name)
              %td= get_salary(vacancy)
              %td= full_name_for(vacancy.owner)
              %td= vacancy.status
.row
  .col-lg-3
    = paginate @vacancies