= content_for :sidebar do
  %form
    .sidebar-title
      %span Поиск
    %hr
    .search-field
      = text_field(:vacancy, :name, class: 'form-control')
    = submit_tag 'Найти', class: 'btn btn-success pull-right'

%table.table.table-bordered#vacancies-list
  %thead
    %tr
      %th №
      %th Вакансия
      %th Регион
      %th Зарплата
      %th Ответственный
      %th Статус
  %tbody
    - @vacancies.each_with_index do |vacancy, index|
      %tr
        %th{scope: 'row'}
          = index + 1
        %td
          = link_to vacancy.name, vacancy_path(vacancy), id: 'vacancy-name'
        %td
          = vacancy.region
        %td
          = vacancy.salary
        %td Иванов Иван
        %td
          = vacancy.status