= render partial: 'share/search'
%br
%br
.row
  .col-lg-12
    .row
      .col-md-6
        .tip
          %p
            Вакансии
      .col-md-6
        .pull-right
          = link_to 'Закрытые вакансии', archives_path(object_name: 'vacancies'), class: 'paranoid_btn'
.row
  .col-md-12
    .items-list
      %table.table.table-hover.table-bordered.table-striped
        %thead
          %tr.table_head_color
            %th Вакансия
            %th Регион
            %th Зарплата
            %th Ответственный
            %th Статус
            %th Действия
        %tbody
          - @vacancies.each do |vacancy|
            %tr
              %td= link_to vacancy.name, vacancy_path(vacancy)
              %td= vacancy.region.try(:name)
              %td= get_salary(vacancy)
              %td= full_name_for(vacancy.owner)
              %td= vacancy.status
              %td.text-center
                = link_to '', edit_vacancy_path(vacancy), class: 'glyphicon glyphicon-edit'
                = link_to '', vacancy, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'glyphicon glyphicon-remove'
.row
  .col-lg-3
    = paginate @vacancies