= javascript_include_tag 'vacancies'
= stylesheet_link_tag 'vacancies'

= render partial: 'vacancies/left_sidebar', locals: { status: @vacancy.status }
= render partial: 'vacancies/footer_panel', locals: { example: nil }

.panel.panel-success
  .panel-heading.panel-title
    = @vacancy.name
  .panel-body
    %table.table.table-info
      %thead
        %tbody
          %tr
            %th Зарплата:
            %td= get_salary(@vacancy)
          %tr
            %th Регион:
            %td= @vacancy.region.try(:name)
          %tr
            %th Языки:
            %td= display_field_value_for(@vacancy.languages)
          %tr
            %th Добавлено:
            %td= get_author_and_date(@vacancy)
          %tr
            %th Требования:
            %td= display_field_value_for(@vacancy.requirements)

= link_to 'Редактировать', edit_vacancy_path(@vacancy), class: 'btn btn-default'
= link_to 'Назад', :back, class: 'btn btn-default'