= javascript_include_tag 'vacancies'
= stylesheet_link_tag 'vacancies'

.col-xs-12
  .panel.add-shadows
    .panel-heading
      .panel-title
        = @vacancy.name
    .panel-body
      .row
        .col-xs-6.col-xs-offset-3
          %table.table.table-info
            %thead
              %tbody
                %tr
                  %th Зарплата:
                  %td= get_salary(@vacancy)
                %tr
                  %th Регион:
                  %td= @vacancy.region.try(:name)
                %tr
                  %th Языки:
                  %td= display_field_value_for(@vacancy.languages)
                %tr
                  %th Добавлено:
                  %td= get_author_and_date(@vacancy)
                %tr
                  %th Требования:
                  %td= display_field_value_for(@vacancy.requirements)
        .col-xs-6.col-xs-offset-3
          = render partial: 'vacancies/left_sidebar', locals: { status: @vacancy.status, vacancy: @vacancy }
      = render partial: 'vacancies/footer_panel', locals: { example: nil }
  = render 'dialog'