= render partial: 'vacancies/left_sidebar', locals: { status: @vacancy.status }
= render partial: 'vacancies/footer_panel', locals: { example: nil }

.panel.panel-success
  .panel-heading.panel-title
    = @vacancy.name
  .panel-body
    %table.table
      %thead
        %tbody
          %tr
            %th Зарплата:
            %td= @vacancy.get_salary
          %tr
            %th Регион:
            %td= @vacancy.region.try(:name)
          %tr
            %th Языки:
            %td= display_field_value_for(@vacancy.languages)
          %tr
            %th Добавлено:
            %td= "#{@vacancy.creator} #{@vacancy.created_at.strftime('%F')}"
          %tr
            %th Требования:
            %td= display_field_value_for(@vacancy.requirements)

= link_to 'Редактировать', edit_vacancy_path(@vacancy), class: 'btn btn-default'
= link_to 'Назад', :back, class: 'btn btn-default'