= javascript_include_tag 'vacancies'
= stylesheet_link_tag 'vacancies'

.col-xs-12
  .row
    .col-xs-3
      = render partial: 'vacancies/left_sidebar', locals: { status: @vacancy.status, vacancy: @vacancy }
    .col-xs-9
      .panel
        .panel-heading
          .panel-title
            = @vacancy.name
            .pull-right
              = link_to 'Редактировать', edit_vacancy_path(@vacancy), class: 'btn btn-default'
              = link_to 'Назад', :back, class: 'btn btn-default'
        .panel-body
          %table.table.table-info
            %thead
              %tbody
                %tr
                  %th Зарплата:
                  %td= get_salary(@vacancy)
                %tr
                  %th Регион:
                  %td= @vacancy.region.try(:name)
                %tr
                  %th Языки:
                  %td= display_field_value_for(@vacancy.languages)
                %tr
                  %th Добавлено:
                  %td= get_author_and_date(@vacancy)
                %tr
                  %th Требования:
                  %td= display_field_value_for(@vacancy.requirements)
  .row
    .col-xs-3.col-xs-3
      .panel
        .panel-body
          .btn-group
            .btn-group-vertical{ data: { toggle: 'buttons-radio' } }
              = link_to 'Найденные', '#',     class: 'btn btn-default candidates-for-vacancy', data: { status_name: 'Найденные', vacancy_id: @vacancy.id}
              = link_to 'Отобранные', '#',    class: 'btn btn-default candidates-for-vacancy', data: { status_name: 'Отобранные', vacancy_id: @vacancy.id }
              = link_to 'Собеседование', '#', class: 'btn btn-default candidates-for-vacancy', data: { status_name: 'Собеседование', vacancy_id: @vacancy.id }
              = link_to 'Утвержден', '#',     class: 'btn btn-default candidates-for-vacancy', data: { status_name: 'Утвержден', vacancy_id: @vacancy.id }
              = link_to 'Не подходит', '#',   class: 'btn btn-default candidates-for-vacancy', data: { status_name: 'Не подходит', vacancy_id: @vacancy.id }
              = link_to 'Отказался', '#',     class: 'btn btn-default candidates-for-vacancy', data: { status_name: 'Отказался', vacancy_id: @vacancy.id }
    .col-xs-9
      = render partial: 'vacancies/footer_panel', locals: { example: nil }
  = render 'dialog'