= javascript_include_tag 'stickers'
= javascript_include_tag 'charCount'

= form_for @sticker do |f|
  - if @sticker.errors.any?
    %h2 Возникшие ошибки:
    %ul
      - @sticker.errors.full_messages.each do |message|
        %li
          = message
  .form-group.sticker_description
    = f.label 'Описание'
    = f.text_area :description, class: 'form-control'

  -if current_user.is_director?
    .form-group.sticker_status
      = f.label 'Статус:'
      = f.select(:status, Sticker::STATUS, {}, class: 'form-control')
    .form-group.sticker_performer
      = f.label 'Назначить на:'
      = f.select(:performer_id, @performer_arr, {}, class: 'form-control')
  .form-group
    = f.submit @sticker.new_record? ? 'Создать' : 'Обновить', class: 'btn btn-default'
    = link_to 'Назад', :back, class: 'btn btn-default'