.col-xs-3{ id: "sticker_#{sticker.id}", onmouseover: 'mOver(this)', onmouseout: 'mOut(this)' }
  .panel.add-shadows{ style: "background-color: #{sticker.bg_color}" }
    .panel-heading{ style: 'min-height: 44px;'}
      .row
        .col-xs-8
          .panel-title
            -if sticker.performer_id
              = link_to sticker_path(sticker), class: 'glyph_show_link' do
                %i.glyphicon.glyphicon-star-empty
              = sticker.status
        .col-xs-4
          #actions.panel-title.hide
            -if current_user.is_director?
              = link_to edit_sticker_path(sticker), remote: true do
                %i.glyphicon.glyphicon-pencil
              = link_to sticker_path(sticker), method: :delete, remote: true, data: { confirm: "Удалить стикер: #{sticker.description}?" } do
                %i.glyphicon.glyphicon-remove-circle
    .panel-body
      .row
        .col-xs-12.sticker-desc
          = sticker.description

:javascript

  function mOver(obj){
    $(obj).find('#actions.panel-title').removeClass('hide');
  };

  function mOut(obj){
    $(obj).find('#actions.panel-title').addClass('hide');
  };


