.col-xs-3{ id: "sticker_#{sticker.id}" }
  .panel.panel-default.add-shadows
    .panel-heading{ style: "background-color: #{sticker.bg_color}" }
      .row
        .col-xs-8.panel-title
          -if sticker.performer_id
            = link_to sticker_path(sticker), class: 'glyph_show_link' do
              %i.glyphicon.glyphicon-star-empty
            = sticker.status
        .col-xs-4.panel-title
          -if current_user.is_director?
            = link_to edit_sticker_path(sticker), remote: true do
              %i.glyphicon.glyphicon-pencil
            = link_to sticker_path(sticker), method: :delete, remote: true, data: { confirm: "Удалить стикер: #{sticker.description}?" } do
              %i.glyphicon.glyphicon-remove-circle
    .panel-body{ style: "background-color: #{sticker.bg_color}" }
      .row
        .col-xs-12.sticker-desc
          = sticker.description