= stylesheet_link_tag 'stickers'
.row
  .col-xs-3
    .btn-group.btn-block
      .btn.btn-default.btn-block.dropdown-toggle{ "data-toggle" => "dropdown" }
        %span.pull-left
          Стикеры
        %span.caret.pull-right
      %ul.dropdown-menu.btn-block
        %li= link_to 'Добавить стикер', new_sticker_path
        %li= link_to 'Закрытые стикеры', archives_path(object_name: 'stickers')
  = render partial: 'stickers/sticker', collection: @stickers
.row
  .col-xs-12
    = paginate @stickers
