= stylesheet_link_tag 'stickers'
= javascript_include_tag 'stickers'
= javascript_include_tag 'charCount'

.row
  .col-xs-3
    .btn-group-vertical.btn-block{ 'aria-label' => 'Vertical button group', role: 'group' }
      = link_to 'Добавить стикер', new_sticker_path, remote: true, class: 'btn btn-success'
      = link_to 'Закрытые стикеры', archives_path(object_name: 'stickers'), class: 'btn btn-warning'
  #stickers
    = render @stickers
  = render 'dialog'
  .new_sticker
.row
  #stickers-pagination
    = render partial: 'stickers_pagination', locals: { stickers: @stickers }
