= stylesheet_link_tag 'stickers'
.row
  .col-xs-3
    %p= link_to 'Добавить стикер', new_sticker_path, class: 'btn btn-default'
  .col-xs-9
    %p.pull-right= link_to 'Посмотреть закрытые стикеры', archives_path(object_name: 'stickers'), class: 'btn btn-default'
.row
  = render partial: 'stickers/sticker', collection: @stickers
.row
  .col-xs-12
    = paginate @stickers
