.panel.panel-default
  .panel-heading.panel-title
    ="Стикер назначен на #{full_name_for(@sticker.performer)}"
  .panel-body
    = form_for @sticker, url: sticker_path(id: @sticker), method: :put do |f|
      - if @sticker.errors.any?
        %h2 Возникшие ошибки:
        %ul
          - @sticker.errors.full_messages.each do |message|
            %li
              = message
      .form-group.sticker_description
        = f.label 'Описание'
        %br
        = @sticker.description
      .form-group.sticker_status
        = f.label 'Статус:'
        = f.select(:status, selection_status, {}, class: 'form-control')
      .form-group
        = f.submit 'Готово', class: 'btn btn-default'
        = link_to 'Назад', :back, class: 'btn btn-default'