<tr>
    <td>
        <span class="label label-default"><%= name %><span>
    </td>
    <td><%= vacancy %></td>
    <td><%= candidate %></td>
    <td>
        <span class="label label-warning"><%= hours %>:<%= minutes %></span> <%= formated_date %>
    </td>
    <td><btn class="glyphicon glyphicon-edit edit-event", data-eventid= event.id></btn>
        <btn class="glyphicon glyphicon-remove remove-event", data-eventid = event.id></btn></td>
</tr>