- content_for :left_sidebar, render(partial: 'left_sidebar')

.panel.panel-success
  .panel-heading.panel-title
    = full_name_for(@user)
  .panel-body
    .row
      .col-xs-6
        - if @user.errors.any?
          %h3 Возникшие ошибки:
          %ul
            - @user.errors.full_messages.each do |message|
              %li
                = message
        =form_for @user, html: { multipart: true } do |f|
          .form-group
            = f.label :first_name
            = f.text_field :first_name, class: 'form-control'
          .form-group
            = f.label :last_name
            = f.text_field :last_name, class: 'form-control'
          .form-group
            = f.label :email
            = f.email_field :email, class: 'form-control'
          .form-group
            = f.label :skype
            = f.text_field :skype, class: 'form-control'
          .form-group
            = f.label :phone
            = f.text_field :phone, class: 'form-control'
          .form-group
            = f.label :image
            = f.file_field :image
          .form-group
            = f.button 'Обновить', class: 'btn btn-default'
            = link_to 'Назад', user_path, class: 'btn btn-default'
