.row
  .col-lg-2.col-lg-offset-2
    = render partial: 'left_sidebar'
  .col-lg-6
    .tip
      %p
        = full_name_for(@user)
    - if @user.errors.any?
      %h3 Возникшие ошибки:
      %ul
        - @user.errors.full_messages.each do |message|
          %li
            = message
    =form_for @user, html: { multipart: true, class: 'form-horizontal' } do |f|
      .form-group
        .col-sm-2.control-label
          = f.label :first_name
        .col-sm-8
          = f.text_field :first_name, class: 'form-control'
      .form-group
        .col-sm-2.control-label
          = f.label :last_name
        .col-sm-8
          = f.text_field :last_name, class: 'form-control'
      .form-group
        .col-sm-2.control-label
          = f.label :email
        .col-sm-8
          = f.email_field :email, class: 'form-control'
      .form-group
        .col-sm-2.control-label
          = f.label :skype
        .col-sm-8
          = f.text_field :skype, class: 'form-control'
      .form-group
        .col-sm-2.control-label
          = f.label :phone
        .col-sm-8
          %span.tip
            %p.subscription Пример ввода: +38-050-000-0000
          = f.text_field :phone, class: 'form-control'
      .form-group
        = f.fields_for :image, Image.new do |img|
          .col-sm-2.control-label
            = img.label :image
          .col-sm-8
            = img.file_field :avatar
      %hr
      .form-group
        .col-sm-12
          = f.button 'Обновить', class: 'btn btn-success'
          = link_to 'Назад', user_path, class: 'btn btn-default'