#edit_user_profile
  #head_user_profile
    %em #{@user.last_name} #{@user.first_name}

  #container_user_profile

    - if @user.errors.any?
      %h3 Возникшие ошибки:
      %ul
        - @user.errors.full_messages.each do |message|
          %li
            = message

    #left_column_user_profile
      %p
        %em Имя:
      %p
        %em Фамилия:
      %p
        %em Email:
      %p
        %em Должность:
      %p
        %em Регион:
      %p
        %em Skype:
      %p
        %em Телефон:
      %p
        %em Аватар:

    #right_column_user_profile
      = form_for @user, html: { multipart: true } do |f|

        %p
          = f.text_field :first_name
        %p
          = f.text_field :last_name
        %p
          = f.text_field :email
        %p
          = f.text_field :post
        %p
          = select_tag(:region,  options_for_select(Region::NAMES, @user.region_name))
        %p
          = f.text_field :skype
        %p
          = f.text_field :phone
        %p
          = f.file_field :avatar

        = f.button 'Обновить', class: 'btn btn-link'
        = link_to 'Назад', user_path, class: 'btn btn-link'

- content_for :left_sidebar, render(partial: 'left_sidebar')