.row
  .col-lg-10.col-lg-offset-1
    .tip
      %p
        Менеджеры
    .items-list
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th Полное имя
            %th Должность
            %th Регион
            %th Skype
            %th Телефон
            %th Созданных вакансий
            %th Созданных кандидатов
            %th Принято на работу
        %tbody
          - @users.each do |user|
            %tr
              %td= full_name_for(user)
              %td= user.post
              %td= user.region_name
              %td= user.skype
              %td= user.phone
              %td= user.vacancies.size
              %td= user.candidates.size
              %td= '-----'
    = paginate @users