.container
  .row
    .col-lg-12
      .items-list
        %table.table.table-hover.table-bordered.table-striped
          %thead
            %tr.table_head_color
              %th Полное имя
              %th Должность
              %th Регион
              %th Skype
              %th Телефон
              %th Созданных вакансий
              %th Созданных кандидатов
              %th Принято на работу
          %tbody
            - @users.each do |user|
              %tr
                %td= full_name_for(user)
                %td= user.post
                %td= user.region
                %td= user.skype
                %td= user.phone
                %td= user.vacancies.size
                %td= user.candidates.size
                %td= '-----'
      = paginate @users