.panel.panel-success
  .panel-heading.panel-title
    Менеджеры
  .panel-body
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th №
          %th Полное имя
          %th Должность
          %th Регион
          %th Skype
          %th Телефон
          %th Созданных вакансий
          %th Созданных кандидатов
      %tbody
        - @users.each_with_index do |user, index|
          %tr
            %th= index + 1
            %td= full_name_for(user)
            %td= user.post
            %td= user.region_name
            %td= user.skype
            %td= user.phone
            %td= user.vacancies.size
            %td= user.candidates.size
