= flash[:notice]

#user_profile

  #head_user_profile
    %em #{@user.last_name} #{@user.first_name}

    = link_to 'хочу изменить свой пороль', '#', class: 'btn btn-link'

  #container_user_profile
    #left_column_user_profile
      %p
        %em Email:
      %p
        %em Должность:
      %p
        %em Skype:
      %p
        %em Телефон:

    #right_column_user_profile
      %p
        %em #{@user.email}
      %p
        %em #{@user.post}
      %p
        %em #{@user.skype}
      %p
        %em #{@user.phone}

  #footer_user_profile
    = link_to 'Редактировать', edit_user_path, class: 'btn btn-link'
    = link_to 'Назад', root_path, class: 'btn btn-link'

- content_for :left_sidebar, render(partial: 'left_sidebar')