.row
  .col-lg-offset-2.col-lg-2
    = render partial: 'left_sidebar'

  .col-lg-6
    .tip
      .row
        .col-xs-3
          = full_name_for(@user)
        .col-xs-offset-5.col-xs-4
          = link_to 'хочу изменить свой пароль', edit_user_registration_path, class: 'btn btn-success'
    .clear
    %dl.dl-horizontal
      %dt Email:
      %dd= @user.email
      %dt Должность:
      %dd= @user.post
      %dt Регион:
      %dd= @user.region.try(:name)
      %dt Skype:
      %dd= display_field_value_for(@user.skype)
      %dt Телефон:
      %dd= display_field_value_for(@user.phone)
    %hr
    = link_to 'Редактировать', edit_user_path, class: 'btn btn-primary'
    = link_to 'Назад', root_path, class: 'btn btn-default'

