- content_for :left_sidebar, render(partial: 'left_sidebar')

.panel.panel-success
  .panel-heading.panel-title
    .row
      .col-md-3
        = user_fullname
      .col-md-offset-7.col-md-2
        = link_to 'хочу изменить свой пароль', edit_user_registration_path, class: 'btn btn-default'
  .panel-body
    %table.table
      %thead
        %tbody
          %tr
            %th Email:
            %td= @user.email
          %tr
            %th Должность:
            %td= @user.post
          %tr
            %th Skype:
            %td= @user.skype.present? ? @user.skype : 'Поле не заполнено'
          %tr
            %th Телефон:
            %td= @user.phone.present? ? @user.phone : 'Поле не заполнено'

= link_to 'Редактировать', edit_user_path, class: 'btn btn-default'
= link_to 'Назад', root_path, class: 'btn btn-default'

