- content_for :left_sidebar, render(partial: 'left_sidebar')

.panel.panel-success
  .panel-heading.panel-title
    .row
      .col-xs-3
        = full_name_for(@user)
      .col-xs-offset-5.col-xs-4
        = link_to 'хочу изменить свой пароль', edit_user_registration_path, class: 'btn btn-default'
    .clear
  .panel-body
    %table.table
      %thead
        %tbody
          %tr
            %th Email:
            %td= @user.email
          %tr
            %th Должность:
            %td= @user.post
          %tr
            %th Регион:
            %td= @user.region.name
          %tr
            %th Skype:
            %td= display_field_value_for(@user.skype)
          %tr
            %th Телефон:
            %td= display_field_value_for(@user.phone)

= link_to 'Редактировать', edit_user_path, class: 'btn btn-default'
= link_to 'Назад', root_path, class: 'btn btn-default'

