= render 'dialog'

= month_calendar events: events, table: { class: 'table table-bordered' },
                                 tr: { class: 'calendar-row' },
                                 td: default_td_classes(events),
                                 day_names: 'date.day_names' do |date, events|
  = date.day
  %a.event-badge{ href: '#', 'data-target' => "#myModal#{date}", 'data-toggle' => 'modal' }= events.count if events.present?
  -#- if events.present?
  -#  = link_to events.count, '#', remote: true, class: 'event-badge',
  -#          'data-target' => "#myModal#{date}", 'data-toggle' => 'modal'

  / Modal
  .modal.fade{ 'aria-labelledby' => 'myModalLabel', role: 'dialog', tabindex: '-1', id: "myModal#{date}" }
    .modal-dialog.modal-lg{ role: 'document' }
      .modal-content
        .modal-header
          %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
            %span{ 'aria-hidden' => 'true' } ×
          %h3.modal-title= date.strftime('События на %m/%d/%Y')
        .modal-body
          = render partial: 'events_list', locals: { events: events, start_date: date } if events.present?