#edit-event.modal.fade{ 'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel',
                    'data-backdrop' => 'static', 'data-keyboard' => 'true',
                    role: 'dialog', tabindex: '1' }
  .modal-dialog.modal-lg.event-dialog
    .modal-content
      .modal-header
        %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
          %span{ 'aria-hidden' => 'true' } ×
        %h3.modal-title
          Редактировать событие
      .modal-body
        = form_tag '', html: { role: 'form', class: 'event_form' } do |f|
          #error_explanation.bg-danger.text-danger
          .form-group#event_name_group
            - if %w(Собеседование Утвержден).include?(@event&(:name))
              = f.label :name, class: 'label_event_name' do
                Название события:&nbsp;
                %span.label{ class: set_label_class(@event) }
                  = @event&(:name)
              = f.hidden_field :name
            - else
              = f.label :name, 'Название события: '
              = f.text_field :name, class: 'form-control'
          .form-group
            = f.label 'Дата события:'
            .input-group.date#datetimepicker
              = f.text_field :will_begin_at, data: { date_format: 'YYYY/MM/DD HH:mm:ssZ' }, class: 'date-input form-control'
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
          .form-group
            = f.label 'Описание:'
            = f.text_area :description, rows: 3, class: 'form-control'
          .form-group
            = f.submit 'Сохранить', class: 'btn btn-default'