= javascript_include_tag 'events'

= form_for @event, remote: true, html: { role: 'form', class: 'event_form' } do |f|
  #error_explanation.bg-danger.text-danger
  .form-group#event_name_group
    = f.label :name, class: 'label_event_name' do
      Название события:&nbsp;
      %span.label{ class: set_label_class(@event) }
        = @event.try(:name)
    = f.hidden_field :name
  .form-group
    = f.label 'Дата события:'
    = f.datetime_select :will_begin_at, default: DateTime.now, class: 'form-control'
  .form-group
    = f.label 'Описание:'
    = f.text_area :description, rows: 3, class: 'form-control'
  .form-group
    = f.submit 'Сохранить', class: 'btn btn-default'
