

/ Modal
= render :partial => 'edit_event_dialog'

.items-list{ class: time_is.to_s }
  %table.table.table-hover.table-bordered.table-striped{ class: time_is == :future ? 'table-hover' : nil }
    %thead
      %tr.table_head_color
        %th Событие
        %th На вакансию
        %th С кем
        %th Время события
        %th Описание
        %th Действия
    %tbody
      - events.each do |event|
        %tr{class: "event#{event.id}"}
          %td.event_name
            %span.label{ class: set_label_class(event) }= event.name
          - if event.staff_relation
            %td= event.staff_relation.vacancy.name
            %td= event.staff_relation.candidate.name
          - else
            %td= '------'
            %td= '------'
          %td.event_will_begin_at
            %span.label.label-primary= event.will_begin_at.strftime('%H:%M')
            = event.will_begin_at.strftime('%d/%m/%Y')
          %td.event_description= event.description
          %td
            %btn.glyphicon.glyphicon-edit.edit-event{'data-eventid' => event.id}
            %btn.glyphicon.glyphicon-remove.remove-event{ 'data-eventid' => event.id}


