.items-list
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th Событие
        %th На вакансию
        %th С кем
        %th Время события
        %th Описание
        %th Действия
    %tbody
      - events.each do |event|
        %tr
          %td
            %span.label{ class: set_label_class(event) }= event.name
          - if event.staff_relation
            %td= event.staff_relation.vacancy.name
            %td= event.staff_relation.candidate.name
          - else
            %td= '------'
            %td= '------'
          %td
            %span.label.label-primary= event.starts_at.strftime('%H:%M')
            = event.starts_at.strftime('%d/%m/%Y')
          %td= event.description
          %td
            - if can? :update, event
              = link_to '', edit_event_path(event, start_date: date), class: 'glyphicon glyphicon-edit', remote: true
            - if can? :destroy, event
              = link_to '', event, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'glyphicon glyphicon-remove'