

/ Modal
= render :partial => 'edit_event_dialog'

.items-list
  %table.table.table-hover.table-bordered.table-striped
    %thead
      %tr.table_head_color
        %th Событие
        %th Имя Вакансии
        %th Имя Кандидата
        %th Дата
        %th Действия
    %tbody
      - events.each do |event|
        %tr{ class: "event#{event.id}" }
          %td.event_name
            = link_to truncate(event.name, length: 20), event
          - if event.staff_relation && event.staff_relation.vacancy
            %td.event_vacancy= event.staff_relation.vacancy.name
          - else
            %td.event_vacancy= '------'
          -if event.staff_relation && event.staff_relation.candidate
            %td.event_candidate= event.staff_relation.candidate.name
          - else
            %td.event_candidate= '------'
          %td.event_will_begin_at
            %span.label.label-warning
              = event.will_begin_at.strftime('%e %b %H:%M')
          %td
            %a.glyphicon.glyphicon-edit.edit-event{'data-eventid' => event.id}
            %a.glyphicon.glyphicon-remove.remove-event{ 'data-eventid' => event.id}


