= javascript_include_tag 'events'

= form_for @event, remote: true, html: { role: 'form', class: 'event_form' } do |f|
  #error_explanation.bg-danger.text-danger
  .form-group#event_name_group
    = f.label :name, 'Название события: ', class: 'label_event_name'
    = f.text_field :name, class: 'form-control'
  - if @staff_relations.present?
    .form-group#staff_relation
      = f.label 'На вакансию:'
      = f.select :staff_relation, @staff_relations.collect{ |sr| [get_sr_name(sr), sr.id, { data: { status: sr.status } } ]},
                                  { include_blank: true, prompt: 'Выберете одну из позиций', selected: (@event.staff_relation.id if @event.staff_relation ) },
                                  { class: 'form-control staff_relation' }
  .form-group
    = f.label 'Дата события:'
    = f.datetime_select :starts_at, default: @date, class: 'form-control'
  .form-group
    = f.label 'Описание:'
    = f.text_area :description, rows: 3, class: 'form-control'
  .form-group
    = f.submit 'Сохранить', class: 'btn btn-default'
