.modal-dialog{:role => "document"}
  .modal-content
    .modal-header
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h4{ id: id }.modal-title= title
    .modal-body
      .row
        .col-xs-12
          = form_for event do |f|
            - if event.errors.any?
              #error_explanation
                %h2 Возникшие ошибки:
                %h2= "#{pluralize(event.errors.count, 'error')} prohibited this event from being saved:"
                %ul
                  - event.errors.full_messages.each do |msg|
                    %li= msg

            .form-group
              = f.label 'Имя:'
              = f.text_field :name, class: 'form-control'
            .form-group
              = f.label 'Дата события:'
              = f.datetime_select :starts_at, class: 'form-control'
            .form-group
              = f.label 'Описание:'
              = f.text_area :description, rows: 3, class: 'form-control'
            .form-group
              = f.submit 'Сохранить', class: 'btn btn-default'