= stylesheet_link_tag 'events'

.col-md-6
  .tip
    %p
      = set_events_list_title(@events, DateTime.now)
  .events-list
    - if @events.present?
      = render partial: 'events_list', locals: { events: @events }
.col-md-6
  .tip
    %p
      Календарь событий
  = link_to 'Создать новое событие', new_event_path, remote: true, class: 'btn btn-success pull-right'
  .calendar
    = render partial: 'calendar', locals: { events: @events }