= stylesheet_link_tag 'events'

.col-md-6
  .row
    .col-md-12
      .tip
        %p
          = set_events_list_title(@events, @date_from)
      .events-list.future
        - if @events.present?
          = render partial: 'events_list', locals: { events: @events, time_is: :future }
  .row
    .col-md-12
      .tip
        %p
          = 'Прошедшие события'
      .events-list.past
        - if @events_past.present?
          = render partial: 'events_list', locals: { events: @events_past, time_is: :past }
.col-md-6
  .tip
    %p
      Календарь событий
  = link_to 'Создать новое событие', new_event_path, remote: true, class: 'btn btn-success pull-right'
  .calendar
    = render partial: 'calendar', locals: { events: @events_month }