.container-fluid
  .row
    .panel.panel-success
      .panel-heading.panel-title
        Календарь
      .panel-body
        .col-xs-7
          = render partial: 'calendar', locals: {events: @events}
        .col-xs-5
          .panel.panel-primary
            .panel-heading.panel-title
              Листинг событий
            .panel-body
              %table.table.table-bordered
                %thead
                  %tr
                    %th Имя
                    %th Дата
                    %th{colspan: '3'}
                %tbody
                  - @events.each do |event|
                    %tr
                      %td= event.name
                      %td= event.starts_at.strftime('%H:%M  %d/%m/%Y')
                      %td= link_to 'Просмотреть', event
                      %td= link_to 'Редактировать', edit_event_path(event)
                      %td= link_to 'Удалить', event, method: :delete, data: { confirm: 'Вы уверены?' }
              = link_to 'Создать новое событие', new_event_path, class: 'btn btn-default'
