= stylesheet_link_tag 'events'
= javascript_include_tag 'events'

.col-md-6
  .row
    .col-md-12
      .tip
        %p
          = set_events_list_title(@events, @date_from)
      .events-list.future
        - if @events.present?
          = render partial: 'events_list', locals: { events: @events, time_is: :future }
  .row
    .col-md-12
      .tip
        %p
          = 'Прошедшие события'
      .events-list.past
        - if @events_past.present?
          = render partial: 'events_list', locals: { events: @events_past, time_is: :past }
.col-md-6
  .tip
    %p
      Календарь событий
  %button.btn-primary.btn-dialog.pull-right
    Создать новое событие
  .calendar
    = render partial: 'calendar', locals: { events: @events_month }