.col-xs-5
  .panel.panel-success
    .panel-heading.panel-title
      = @event.name
    .panel-body
      На вакансию:
      = @event.staff_relation.vacancy.name
      %br
      С кандидатом:
      = @event.staff_relation.candidate.name
      |
      = @event.staff_relation.status
      %br
      Начало события:
      %span.label.label-primary= @event.starts_at.strftime('%H:%M')
      = @event.starts_at.strftime('%d/%m/%Y')
      %br
      Описание:
      = @event.description

  = link_to 'Редактировать', edit_event_path(@event), class: 'btn btn-default'
  = link_to 'Назад', events_path, class: 'btn btn-default'
