:css
  .table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
  }
  th,td{
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
  }
  thead{
    background-color: #428bca;
    border-radius: 0.25em;
    color: #ffffff;
  }
  .label {
      border-radius: 0.25em;
      color: #ffffff;
      display: inline;
      font-size: 75%;
      font-weight: bold;
      line-height: 1;
      padding: 0.2em 0.6em 0.3em;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
  }
  .label-primary {
      background-color: #428bca;
  }
  .label-default {
    background-color: #777777;
  }
%h3
  Здравствуйте
  =@user.name
%p
  Завтра состоиться собеседование на фирме FaceIT на должность
  = link_to @event.staff_relation.vacancy.name, vacancy_url(@event.staff_relation.vacancy)
  Время собеседования
  %span.label.label-primary= @event.will_begin_at.strftime('%H:%M')
  = @event.will_begin_at
%p
  Если в вашем графике что-то поменялось и вы не сможете прийти, будьте добры сообщите нам об этом по одному из нижеуказаных телефонов.
%p
  Телефон менеджера
  = @user.owner.first_name
  = @user.owner.last_name
  = @user.owner.phone
  %br
  Телефон директора
  =@ceo.first_name
  =@ceo.last_name
  = @ceo.phone