.row
  .col-lg-10.col-lg-offset-1
    .tip
      %p
        Кандидаты

    .items-list
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th Кандидат
            %th Должность
            %th Регион
            %th Зарплата
            %th Ответственный
            %th Добавлен
            %th
              .dropdown.show
                %a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "https://example.com"}
                  Статус ⇓
                .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
                  = link_to " Все", candidates_path, remote: true, class: 'dropdown-item'
                  %br
                  = link_to "Пассивен", candidates_path(status: 'Пассивен'), remote: true, class: 'dropdown-item'
                  %br
                  = link_to "В работе", candidates_path(status: 'В работе'), remote: true, class: 'dropdown-item'
            %th Примечание
        %tbody.candidate
          - candidates.each do |candidate|
            %tr
              %td= link_to candidate.name, candidate_path(candidate), id: 'profile-name'
              %td= candidate.desired_position
              %td= display_field_value_for(candidate.city_of_residence)
              %td= display_field_value_for(candidate.salary)
              %td= full_name_for(candidate.owner)
              %td= candidate.created_at.strftime('%F')
              %td= candidate.status
              %td= candidate.notice
.row
  .col-lg-3
    = paginate @candidates
