= form_for @candidate do |f|
  .row
    .col-md-4
      .form-group
        = f.label :name, 'Имя:'
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :birthday, 'День рождения:'
        = f.select(:birthday, ['1989-12-09', '1987-07-04'], {}, class: 'form-control')
      .form-group
        = f.label :salary, 'Желаемая ЗП:'
        = f.text_field :salary, class: 'form-control'
      .form-group
        = f.label :education, 'Образование'
        = f.text_field :education, class: 'form-control'
    .col-md-4
      .form-group
        = f.label :city_of_residence, 'Место проживания:'
        = f.text_field :city_of_residence, class: 'form-control'
      .form-group
        = f.label :desired_position, 'На должность:'
        = f.select(:desired_position, ['Тестер', 'Программист'], {}, class: 'form-control')
      .form-group
        = f.label :experience, 'Опыт:'
        = f.text_field :experience, class: 'form-control'
      .form-group
        = f.label :status, 'Статус'
        = f.text_field :status, class: 'form-control'
      .form-group
        = f.label :ready_to_relocate, 'Готов к переезду:'
        = f.check_box :ready_to_relocate
    .col-md-4
      .form-group
        = f.label :email, 'Почта:'
        = f.email_field :email, class: 'form-control'
      .form-group
        = f.label :phone, 'Телефон:'
        = f.text_field :phone, class: 'form-control'
      .form-group
        = f.label :skype, 'Skype:'
        = f.text_field :skype, class: 'form-control'
      .form-group
        = f.label :home_page, 'Страничка:'
        = f.text_field :home_page, class: 'form-control'
      .form-group
        = f.label :linkedin, 'Linkedin:'
        = f.text_field :linkedin, class: 'form-control'
      .form-group
        = f.label :facebook,  'Facebook:'
        = f.text_field :facebook, class: 'form-control'
      .form-group
        = f.label :vkontakte, 'Vkontakte:'
        = f.text_field :vkontakte, class: 'form-control'
      .form-group
        = f.label :google_plus, 'Google+:'
        = f.text_field :google_plus, class: 'form-control'
  .row
    .col-xs-12
      .form-group
        = f.label :description, 'Описание:'
        = f.text_area :description, rows: 5, class: 'form-control'
  .form-group
    = f.submit @candidate.new_record? ? 'Создать' : 'Обновить', class: 'btn btn-default'
    = link_to 'Назад', :back, class: 'btn btn-default'
