= stylesheet_link_tag 'candidates/candidates_form'
= javascript_include_tag 'candidates/candidates_form'
= javascript_include_tag 'candidates/candidates'

= form_for @candidate, html: { class: 'form-horizontal candidate-form' } do |f|
  - if @candidate.errors.any?
    %h2 Возникшие ошибки:
    %ul
      - @candidate.errors.full_messages.each do |message|
        %li
          = message
  .row
    .col-md-12
      .tip
        %p Личное:
  .form-group
    .col-sm-3.control-label
      = f.label :name, 'Имя:'
      %span{ style: 'color:red;' }
        *
    .col-sm-9
      = f.text_field :name, class: 'form-control'
  .form-group
    .col-sm-3.control-label
      = f.label :birthday, 'Дата рождения:'
    .col-sm-9
      = f.text_field :birthday, class: 'form-control'
  .form-group
    .col-sm-3.control-label
      = f.label :desired_position, 'Желаемая должность:'
    .col-sm-9
      = f.text_field :desired_position, class: 'form-control'
  .form-group
    .col-sm-3.control-label
      = f.label :salary, 'Желаемая ЗП:'
    .col-sm-9
      = f.text_field :salary, class: 'form-control', data: { validation: 'number_not_required', validation_allowing: 'float' }
  .form-group
    .col-sm-3.control-label
      = f.label :city_of_residence, 'Место проживания:'
    .col-sm-9
      = f.text_field :city_of_residence, class: 'form-control'
  .form-group
    .col-sm-3.control-label
      = f.label :source, 'Источник резюме:'
      %span{ style: 'color:red;' }
        *
    .col-sm-9
      = f.text_field :source, class: 'form-control'
  .form-group
    .col-sm-3.control-label
      = f.label :file_name, 'Имя файла:'
    .col-sm-9
      = f.text_field :file_name, class: 'form-control', readonly: true
  .form-group
    .col-sm-3.control-label
      = f.label :ready_to_relocate, 'Готов к переезду:'
    .col-sm-9
      = f.check_box :ready_to_relocate
  %hr

  .row
    .col-md-12
      .tip
        %p Инфо:
  .form-group
    .col-sm-3.control-label
      = f.label :tag_list, 'Навыки (разделенные запятыми)'
    .col-sm-9
      = f.text_field :tag_list, class: 'form-control'
  .form-group
    .col-sm-3.control-label
      = f.label :education, 'Образование'
    .col-sm-9
      = f.text_field :education, class: 'form-control'
  .form-group
    .col-sm-3.control-label
      = f.label :languages, 'Языки'
    .col-sm-9
      = f.text_field :languages, class: 'form-control'

  %hr
  .row
    .col-md-12
      .tip
        %p Контактные данные:
  .form-group
    .col-sm-3.control-label
      = f.label :email, 'Почта:'
    .col-sm-9
      %span.tip
        %p.subscription example@gmail.com
      = f.email_field :email, class: 'form-control'
  .form-group
    .col-sm-3.control-label
      = f.label :phone, 'Телефон:'
    .col-sm-9
      %span.tip
        %p.subscription Пример ввода: +38-050-000-0000
      = f.text_field :phone, class: 'form-control'
  .form-group
    .col-sm-3.control-label
      = f.label :skype, 'Skype:'
    .col-sm-9
      = f.text_field :skype, class: 'form-control'
  .form-group
    .col-sm-3.control-label
      = f.label :home_page, 'Мои странички:'
    .col-sm-9
      %span.tip
        %p.subscription https://www.example1.com, https://www.example2.com, ...
      = f.text_field :home_page, class: 'form-control'
  %hr

  .row
    .col-md-12
      .tip
        %p Мои компании:
  .form-group
    .col-sm-3.control-label
      = f.label :company_id, 'Компания:'
    .col-sm-9
      = f.select(:company_id, @companies.presence || '', {}, class: 'form-control')

  %hr

  .row
    .col-md-12
      .tip
        %p Я в соц сетях:
  .form-group
    .col-sm-3.control-label
      = f.label :linkedin, 'Linkedin:'
    .col-sm-9
      = f.text_field :linkedin, class: 'form-control'
  .form-group
    .col-sm-3.control-label
      = f.label :facebook, 'Facebook:'
    .col-sm-9
      = f.text_field :facebook, class: 'form-control'
  .form-group
    .col-sm-3.control-label
      = f.label :vkontakte, 'Vkontakte:'
    .col-sm-9
      = f.text_field :vkontakte, class: 'form-control'
  .form-group
    .col-sm-3.control-label
      = f.label :google_plus, 'Google+:'
    .col-sm-9
      = f.text_field :google_plus, class: 'form-control'

  %hr

  .row
    .col-md-12
      .tip
        %p Примечание:
  .form-group
    .col-sm-3.control-label
      = f.label :notice, 'Примечание:'
    .col-sm-9
      = f.text_field :notice, class: 'form-control'

  .form-group
    %hr
    .col-sm-12
      = f.submit @candidate.new_record? ? 'Создать' : 'Обновить', class: 'btn paranoid_btn'
      = link_to 'Назад', :back, class: 'btn paranoid_btn'