.btn-group{style: 'padding-bottom: 20px;'}
  %button.btn.btn-success{:type => "button"}= "Выберите вакансии для #{candidate.name}"
  %button.btn.btn-info.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
    %span.caret
    %span.sr-only Toggle Dropdown
  %ul.dropdown-menu
    - vacancies.each do |v|
      %li
        = link_to v.name, set_vacancies_candidate_path(id: candidate.id, vacancy_id: v.id)
- unless staff_relations.blank?
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th Название
        %th Зарплата
        %th Статус
        %th Отменить
    %tbody
      - staff_relations.each do |relation|
        %tr
          %td= relation.vacancy.name
          %td= get_salary(relation.vacancy)
          %td
            %span{ class: "label #{get_sr_label_class(relation.status)}" }= relation.status
          %td.text-center
            = link_to staff_relation_path(relation), method: :delete do
              %i.glyphicon.glyphicon-remove-circle