.btn-group{style: 'padding-bottom: 20px;'}
  %button.btn.btn-success{:type => "button"}= "Выберите вакансии для #{candidate.name}"
  %button.btn.btn-info.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
    %span.caret
    %span.sr-only Toggle Dropdown
  %ul.dropdown-menu
    - vacancies.each do |v|
      %li
        = link_to v.name, set_vacancies_candidate_path(id: candidate.id, vacancy_id: v.id), remote: true
- unless candidate_vacancies.blank?
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th Название
        %th Зарплата
        %th Статус
    %tbody
      - candidate_vacancies.each do |v|
        %tr
          %td= v.name
          %td= get_salary(v)
          %td
            %span{class: "label #{get_label_class(v)}"}= v.status