.row
  .col-lg-10.col-lg-offset-1
    .well
      -#.row
        .col-xs-6
          %code Искать в
          %button.btn.btn-default В Linkedin
          %button.btn.btn-default В Интернет
        .col-xs-offset-3.col-xs-3
          %code Импортировать с
          %button.btn.btn-default Почты
          %button.btn.btn-default.resume_upload Файла
          = form_for :upload_resume, html: {multipart: true, hidden: true}, method: "POST", url: upload_resume_candidates_path do |f|
            = f.file_field :file
            = f.submit 'save'
      .row
        .col-xs-offset-10.col-xs-2
          %code Импортировать из
          %button.btn.btn-default.resume_upload Файла
          = form_for :upload_resume, html: { multipart: true, hidden: true }, method: 'POST', url: upload_resume_candidates_path do |f|
            = f.file_field :file, multiple: true
            = f.submit 'save'

= render partial: 'share/search'

.row
  .col-lg-10.col-lg-offset-1
    .tip
      %p
        Кандидаты

    .items-list
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th Кандидат
            %th Должность
            %th Регион
            %th Зарплата
            %th Ответственный
            %th Добавлен
            %th Статус
            %th Примечание
        %tbody
          - @candidates.each do |candidate|
            %tr
              %td= link_to candidate.name, candidate_path(candidate), id: 'profile-name'
              %td= candidate.desired_position
              %td= display_field_value_for(candidate.city_of_residence)
              %td= display_field_value_for(candidate.salary)
              %td= full_name_for(candidate.owner)
              %td= candidate.created_at.strftime('%F')
              %td= candidate.status
              %td= candidate.notice
.row
  .col-lg-3
    = paginate @candidates