= render partial: 'share/search'
= stylesheet_link_tag 'candidates/candidates'
= javascript_include_tag 'candidates/candidates'

%br
%br
.container.candidates_partial
  .row
    .col-lg-12
      .pull-right.button_paranoid
        = link_to 'Архив Кандидатов', archives_path(object_name: 'candidates'), class: 'paranoid_btn'
  = render partial: 'candidate_show', :locals => { candidates: @candidates, status: @status }


