= render partial: 'candidates/left_sidebar'

.panel.panel-success
  .panel-heading.panel-title
    = @candidate.name
  .panel-body
    %table.table
      %thead
        %tbody
          %tr
            %th День рождения:
            %td= @candidate.birthday
          %tr
            %th Зарплата:
            %td= "#{@candidate.salary} #{@candidate.salary_format}"
          %tr
            %th Образование:
            %td= @candidate.education
          %tr
            %th Языки:
            %td= @candidate.languages
          %tr
            %th Место проживания:
            %td= @candidate.city_of_residence
          %tr
            %th На должность:
            %td= @candidate.desired_position
          %tr
            %th Опыт:
            %td= @candidate.experience
          %tr
            %th Статус:
            %td= @candidate.status
          %tr
            %th Описание:
            %td= @candidate.description
          %tr
            %th Почта:
            %td= @candidate.email
          %tr
            %th Телефон:
            %td= @candidate.phone
          %tr
            %th Домашняя страница:
            %td= @candidate.home_page
          %tr
            %th Skype:
            %td= @candidate.skype
          %tr
            %th Linkedin:
            %td= @candidate.linkedin
          %tr
            %th Facebook:
            %td= @candidate.facebook
          %tr
            %th Vkontakte:
            %td= @candidate.vkontakte
          %tr
            %th Google+:
            %td= @candidate.google_plus

= link_to 'Редактировать', edit_candidate_path(@candidate), class: 'btn btn-default'
= link_to 'Назад', :back, class: 'btn btn-default'