- perc = set_the_percentage_of_completed_fields(@candidate)
.row
  .col-md-12
    .row
      .col-md-3
        .tip{ style: 'font-size: 18px;'}
          = @candidate.name
      .col-md-6
        .progress
          .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{perc}", :role => "progressbar", :style => "width: #{perc}%;"}
            = "#{perc}%"
      .col-md-3
        .pull-right
          %span.label.label-info
            = display_field_value_for(@candidate.status) # вывести на какие вакансии претендует(если он установлены)
    %hr
.row
  .col-md-3
    = render partial: 'candidates/left_sidebar'
    %hr
    %dl.dl-horizontal
      %dt Дата рождения:
      %dd= display_field_value_for(@candidate.birthday)
      %dt Город:
      %dd= display_field_value_for(@candidate.city_of_residence)
      %dt Желаемая должность:
      %dd= @candidate.desired_position
      %dt Хочу:
      %dd= "#{display_field_value_for(@candidate.salary)} #{@candidate.salary_format}"

  .col-md-6
    .tip
      %p Инфо:

    %dl.dl-horizontal
      %dt Образование:
      %dd= display_field_value_for(@candidate.education)
      %dt Языки:
      %dd= display_field_value_for(@candidate.languages)
      %dt Опыт:
      %dd= display_field_value_for(@candidate.experience)
      %dt О себе:
      %dd= display_field_value_for(@candidate.description)

    .tip
      %p Мои компании:

    %dl.dl-horizontal
      %dt Компания:
      %dd= display_field_value_for(@candidate.try(:company).try(:name))

    .tip
      %p Контактные данные:
    %dl.dl-horizontal
      %dt Почта:
      %dd= display_field_value_for(@candidate.email)
      %dt Телефон:
      %dd= display_field_value_for(@candidate.phone)
      %dt Skype:
      %dd= display_field_value_for(@candidate.skype)
      %dt Домашняя страница:
      %dd= display_field_value_for(@candidate.home_page)

    .tip
      %p Я в соц сетях:
    %dl.dl-horizontal
      %dt Linkedin:
      %dd= display_field_value_for(@candidate.linkedin)
      %dt Facebook:
      %dd= display_field_value_for(@candidate.facebook)
      %dt Vkontakte:
      %dd= display_field_value_for(@candidate.vkontakte)
      %dt Google+:
      %dd= display_field_value_for(@candidate.google_plus)

    = link_to 'Редактировать', edit_candidate_path(@candidate), class: 'btn btn-default'
    = link_to 'Назад', :back, class: 'btn btn-default'