- perc = set_the_percentage_of_completed_fields(@candidate)
.row
  .col-md-12
    .row
      .col-md-3
        .tip{ style: 'font-size: 18px;'}
          = @candidate.name
      .col-md-5
        = link_to edit_candidate_path(@candidate) do
          .progress
            .progress-bar.progress-bar-danger.progress-bar-striped{ 'aria-valuemax' => '100',
                                                                    'aria-valuemin' => '0',
                                                                    'aria-valuenow' => "#{perc}",
                                                                    role: 'progressbar',
                                                                    style: "width: #{perc}%;" }
              = "#{perc}%"
      .col-md-4
        .pull-right
          %span.label.label-info
            = display_field_value_for(@candidate.status)
    %hr
.row
  .col-md-3
    = render partial: 'candidates/left_sidebar'
    %hr
    %dl.dl-horizontal
      %dt Дата рождения:
      %dd= display_field_value_for(@candidate.birthday)
      %dt Город:
      %dd= display_field_value_for(@candidate.city_of_residence)
      %dt Желаемая должность:
      %dd= @candidate.desired_position
      %dt Хочу:
      %dd= "#{display_field_value_for(@candidate.salary)} #{@candidate.salary_format}"
    %hr
    = link_to 'Редактировать', edit_candidate_path(@candidate), class: 'btn btn-primary'
    = link_to 'Назад', :back, class: 'btn btn-default'

  .col-md-5
    .tip
      %p Инфо:

    %dl.dl-horizontal
      %dt Образование:
      %dd= display_field_value_for(@candidate.education)
      %dt Языки:
      %dd= display_field_value_for(@candidate.languages)
      %dt Опыт:
      %dd= display_field_value_for(@candidate.experience)
      %dt О себе:
      %dd= display_field_value_for(@candidate.description)

    .tip
      %p Мои компании:

    %dl.dl-horizontal
      %dt Компания:
      %dd= display_field_value_for(@candidate.try(:company).try(:name))

    .tip
      %p Контактные данные:
    %dl.dl-horizontal
      %dt Почта:
      %dd= display_field_value_for(@candidate.email)
      %dt Телефон:
      %dd= display_field_value_for(@candidate.phone)
      %dt Skype:
      %dd= display_field_value_for(@candidate.skype)
      %dt Моя страница:
      %dd= display_field_value_for(@candidate.home_page)

    .tip
      %p Я в соц сетях:
    %dl.dl-horizontal
      %dt Linkedin:
      %dd= display_field_value_for(@candidate.linkedin)
      %dt Facebook:
      %dd= display_field_value_for(@candidate.facebook)
      %dt Vkontakte:
      %dd= display_field_value_for(@candidate.vkontakte)
      %dt Google+:
      %dd= display_field_value_for(@candidate.google_plus)
    %hr

  .col-md-4
    .tip
      %p Потенциальные вакансии:
    .btn-group
      %button.btn.btn-success{:type => "button"}= "Выберите вакансии для #{@candidate.name}"
      %button.btn.btn-info.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.caret
        %span.sr-only Toggle Dropdown
      %ul.dropdown-menu
        - @candidate_vacancies.each do |v|
          %li
            %a{:href => "#"} #{v.name}