= stylesheet_link_tag 'candidates/candidates'
= javascript_include_tag 'candidates/vacancies_list'


.row
  .col-lg-10
    .row
      .col-md-2.col-md-offset-2
        .label.header
          = @candidate.name
        %hr
      .col-md-8.text-right
        - if @candidate.original_cv_data
          %button{ type: 'button', class: 'btn btn-info', data: { toggle: 'modal', target: '#ResumeModalWindow' } }
            Посмотреть резюме
          %div{ class: 'modal fade bs-example-modal-lg', id: 'ResumeModalWindow', tabindex: '-1', role: 'dialog',
                aria: { labelledby: 'ResumeModalWindowLabel' } }
            %div{ class: 'modal-dialog modal-lg', role: 'document' }
              .modal-content
                .modal-header
                  %button{ type: 'button', class: 'close', data: { dismiss: 'modal' }, aria: { label: 'Close ' } }
                    %span{ aria: { hidden: 'true' } }
                      &times;
                  %h4#myModalLabel.modal-title.text-left
                    Оригинальное резюме кандидата
                .modal-body.text-left
                  = render partial: 'candidates/resume'
                .modal-footer
                  %button{ type: 'button', class: 'btn btn-default', data: { dismiss: 'modal' } }
                    Закрыть

    .row
      .col-lg-2.col-lg-offset-1
        .row
          .col-lg-12.center
            = image_tag 'missing_medium_128.png'
        .row
          .col-lg-12.center
            = link_to edit_candidate_path(@candidate), class: 'btn btn-warning btn-sm' do
              Редактирование
              %span.glyphicon.glyphicon-pencil
      .col-lg-9
        .row
          .col-md-2.text-right
            .label
              Дата рождения:
          .col-md-4.text-left.object-value= @candidate.birthday
        .row
          .col-md-2.text-right
            .label
              Город:
          .col-md-4.text-left.object-value= @candidate.city_of_residence
        .row
          .col-md-2.text-right
            .label
              Навыки:
          .col-md-4.text-left.object-value= @candidate.tag_list
        .row
          .col-md-2.text-right
            .label
              Почта:
          .col-md-4.text-left.object-value= @candidate.email
        .row
          .col-md-2.text-right
            .label
              Телефон:
          .col-md-4.text-left.object-value= @candidate.phone
        .row
          .col-md-2.text-right
            .label
              Skype:
          .col-md-4.text-left.object-value= @candidate.skype
        .row
          .col-md-2.text-right
            .label
              Linkedin:
          .col-md-4.text-left.object-value= @candidate.linkedin
        .row
          .col-md-2.text-right
            .label
              Facebook:
          .col-md-4.text-left.object-value= @candidate.facebook
        .row
          .col-md-2.text-right
            .label
              Vkontakte:
          .col-md-4.text-left.object-value= @candidate.vkontakte
        .row
          .col-md-2.text-right
            .label
              Владение языками:
          .col-md-4.text-left.object-value= @candidate.languages
        .row
          .col-md-2.text-right
            .label
              Желаемая должность:
          .col-md-4.text-left.object-value= @candidate.desired_position
        .row
          .col-md-2.text-right
            .label
              Зарплатные ожидания:
          .col-md-4.text-left.object-value= @candidate.salary
        .row
          .col-md-2.text-right
            .label
              Опыт работы:
          .col-md-4.text-left.object-value= @candidate.experience
        .row
          .col-md-2.text-right
            .label
              Образование:
          .col-md-4.text-left.object-value= @candidate.education
        .row
          .col-md-2.text-right
            .label
              Примечание:
          .col-md-4.text-left.object-value= @candidate.notice
-#.row
-#  .col-md-4
-#    .pull_left
-#      = image_tag 'missing_medium.png'
-#    .tip
-#      %p Потенциальные вакансии:
-#    .vacancies_list
-#      = render partial: 'vacancies_list', locals: { candidate: @candidate, vacancies: @vacancies, staff_relations: @staff_relations }
-#  .col-lg-offset-1