= stylesheet_link_tag 'candidates/candidates'
= javascript_include_tag 'candidates/vacancies_list'


.row
  .col-xs-6
    .row
      .col-xs-9.col-xs-offset-3
        .label.header
          = @candidate.name
        %hr
    .row
      .col-xs-2.col-xs-offset-1
        .row
          .col-xs-12.center
            = image_tag 'missing_128.png'
        .row
          .col-xs-12.center
            = link_to edit_candidate_path(@candidate), class: 'btn btn-warning btn-sm' do
              Редактирование
              %span.glyphicon.glyphicon-pencil
      .col-xs-9
        .row
          .col-xs-4.text-right
            .label
              Желаемая должность:
          .col-xs-4.text-left.object-value= @candidate.desired_position
        .row
          .col-xs-4.text-right
            .label
              Зарплатные ожидания:
          .col-xs-4.text-left.object-value= @candidate.salary
        %hr
        .row
          .col-xs-4.text-right
            .label
              Дата рождения:
          .col-xs-4.text-left.object-value= @candidate.birthday
        .row
          .col-xs-4.text-right
            .label
              Город:
          .col-xs-4.text-left.object-value= @candidate.city_of_residence
        .row
          .col-xs-4.text-right
            .label
              Навыки:
          .col-xs-4.text-left.object-value= @candidate.tag_list
        .row
          .col-xs-4.text-right
            .label
              Почта:
          .col-xs-4.text-left.object-value= @candidate.email
        .row
          .col-xs-4.text-right
            .label
              Телефон:
          .col-xs-4.text-left.object-value= @candidate.phone
        .row
          .col-xs-4.text-right
            .label
              Skype:
          .col-xs-4.text-left.object-value= @candidate.skype
        .row
          .col-xs-4.text-right
            .label
              Linkedin:
          .col-xs-4.text-left.object-value= @candidate.linkedin
        .row
          .col-xs-4.text-right
            .label
              Facebook:
          .col-xs-4.text-left.object-value= @candidate.facebook
        .row
          .col-xs-4.text-right
            .label
              Vkontakte:
          .col-xs-4.text-left.object-value= @candidate.vkontakte
        .row
          .col-xs-4.text-right
            .label
              Владение языками:
          .col-xs-4.text-left.object-value= @candidate.languages
        .row
          .col-xs-4.text-right
            .label
              Опыт работы:
          .col-xs-4.text-left.object-value= @candidate.experience
        .row
          .col-xs-4.text-right
            .label
              Образование:
          .col-xs-4.text-left.object-value= @candidate.education
        .row
          .col-xs-4.text-right
            .label
              Примечание:
          .col-xs-4.text-left.object-value= @candidate.notice
  .col-xs-8.text-right
    - if @candidate.original_cv_data
      %button{ type: 'button', class: 'btn btn-info', data: { toggle: 'modal', target: '#ResumeModalWindow' } }
        Посмотреть резюме
      %div{ class: 'modal fade bs-example-modal-xs', id: 'ResumeModalWindow', tabindex: '-1', role: 'dialog',
              aria: { labelledby: 'ResumeModalWindowLabel' } }
        %div{ class: 'modal-dialog modal-xs', role: 'document' }
          .modal-content
            .modal-header
              %button{ type: 'button', class: 'close', data: { dismiss: 'modal' }, aria: { label: 'Close ' } }
                %span{ aria: { hidden: 'true' } }
                  &times;
              %h4#myModalLabel.modal-title.text-left
                Оригинальное резюме кандидата
            .modal-body.text-left
              = render partial: 'candidates/resume'
            .modal-footer
              %button{ type: 'button', class: 'btn btn-default', data: { dismiss: 'modal' } }
                Закрыть
-#.row
-#  .col-xs-4
-#    .pull_left
-#      = image_tag 'missing_medium.png'
-#    .tip
-#      %p Потенциальные вакансии:
-#    .vacancies_list
-#      = render partial: 'vacancies_list', locals: { candidate: @candidate, vacancies: @vacancies, staff_relations: @staff_relations }
-#  .col-xs-offset-1