= form_for @company do |f|
  - if @company.errors.any?
    %h2 Возникшие ошибки:
    %ul
      - @company.errors.full_messages.each do |message|
        %li
          = message
  .row
    .col-xs-6
      .form-group
        = f.label :name, 'Имя:'
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :url, 'Страница компании:'
        = f.text_field :url, class: 'form-control', placeholder: 'http://www.company-name.com'
      .form-group
        = f.label :region_id, 'Регион:'
        = select_tag(:region, options_for_select(Region::NAMES, @company.region_name), class: 'form-control')
      .form-group
        = f.label :description, 'Полная информация:'
        = f.text_area :description, rows: 5, class: 'form-control'
      .form-group
        = f.submit @company.new_record? ? 'Создать' : 'Обновить', class: 'btn btn-default'
        = link_to 'Назад', :back, class: 'btn btn-default'