.col-lg-offset-3.col-lg-6
  .tip
    = @company.name
  %hr
  %dl.dl-horizontal
    %dt Страница компании:
    %dd= display_field_value_for(@company.url)
    %dt Регион:
    %dd= @company.region.try(:name)
    %dt Полная информация:
    %dd= display_field_value_for(@company.description)
  %hr
  = link_to 'Редактировать', edit_company_path(@company), class: 'btn btn-primary'
  = link_to 'Назад', companies_path, class: 'btn btn-default'