= form_for @staff_relation, remote: 'true' do |f|
  = f.hidden_field :vacancy_id, value: @vacancy.id
  .panel.panel-primary
    %table.table.table-bordered
      %thead
        %tr
          %th Имя
          %th Зарплата
          %th Примечание
      %tbody
        - @candidates.each do |candidate|
          %tr
            %td
              = f.check_box :candidate_id, { multiple: true }, candidate.id, nil
              = candidate.name
            %td= candidate.salary
            %td
              - if candidate.is_passive?
                Имеет статус
                &nbsp;
                %span.label.label-primary
                  = candidate.status
              - else
                - candidate.staff_relations.each do |sr|
                  %p{ style: 'font-size: 14px' }
                    Имеет статус
                    &nbsp;
                    %span{ class: "label label-#{return_status_label(sr)}" }
                      = sr.status
                    &nbsp;
                    для вакансии
                    - if sr.vacancy.try(:name).present?
                      %span.label.label-info
                        = sr.vacancy.try(:name)
                    - else
                      %span.label.label-danger
                        = @vacancy.name
                      (Удалена)
  %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } } Отменить
  = f.submit 'Выполнить', class: 'btn btn-primary'