= stylesheet_link_tag 'stickers'
.row
  .col-xs-3
    = link_to 'Вернуться назад', stickers_path, class: 'btn btn-default btn-block'
  - stickers.each do |sticker|
    .col-xs-3
      .panel.panel-primary
        .panel-heading
          .row
            .col-xs-6.panel-title
              = sticker.deleted_at.strftime('%F')
            .col-xs-offset-2.col-xs-4.panel-title
              = link_to restore_object_path(object_name: sticker.class.to_s, id: sticker),
                        method: :delete, class: 'glyph_destroy_link' do
                %i.glyphicon.glyphicon-open
        .panel-body
          .row
            .col-xs-12.sticker-desc
              = sticker.description
.row
  .col-xs-12
    = paginate stickers
