%br
%br
.row
  .col-lg-12
    .row
      .col-md-6
        .tip
          %p
            Архив Вакансий
      .col-md-6
        .pull-right
          = link_to 'Вернуться назад', vacancies_path, class: 'paranoid_btn'
.row
  .col-md-12
    .items-list
      %table.table.table-hover.table-bordered.table-striped
        %thead
          %tr.table_head_color
            %th Вакансия
            %th Регион
            %th Зарплата
            %th Ответственный
            %th Статус
            %th Кандидаты
            %th Действия
        %tbody
          - vacancies.each do |vacancy|
            %tr
              %td= link_to vacancy.name, vacancy_path(vacancy), id: 'vacancy-name'
              %td= vacancy.region.try(:name)
              %td= get_salary(vacancy)
              %td= full_name_for(vacancy.owner)
              %td= vacancy.status
              %td.text-center
                - if vacancy.candidates.any?
                  - vacancy.candidates.each do |candidate|
                    %p= link_to candidate.name, candidate_path(candidate)
                - else
                  Нет
              %td.text-center
                = link_to '', restore_object_path( id: vacancy.id), method: :delete, class: 'glyphicon glyphicon-floppy-open'
.row
  .col-lg-3
    = paginate vacancies