%h2 Send invitation
= form_for @user, url: '/admin/users/send_invitation' do |f|
  %table{ style: 'width: 50%' }
    %tr
      %td= f.label :email
      %td= f.text_field :email, required: true
    %tr
      %td= f.label :first_name
      %td= f.text_field :first_name, required: true
    %tr
      %td= f.label :last_name
      %td= f.text_field :last_name, required: true
    %tr
      %td= f.label :post
      %td= f.select(:post, options_for_select(User::POST))
    %tr
      %td= f.label :region_id
      %td= select_tag(:region,  options_for_select(Region::NAMES, @user.region_name))

  = f.submit  'Send an Invitation'