!!!
%html
  %head
    %title Faceit-hrm
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.jumbotron
    .container-fluid
      .row.navbar.navbar-default
        .col-xs-12
          .row.vertical-align
            .col-xs-2
              .navbar-header
                = link_to 'Faseit-HRM system', root_path, class: 'navbar-brand'
            .col-xs-7
              .row
                = flash[:notice]
                .col-xs-offset-4.col-xs-7
                  %ul.nav.nav-pills
                    %li
                      = link_to 'Органайзер', stickers_path, class: 'btn'
                    %li
                      = link_to 'Вакансии', vacancies_path, class: 'btn'
                    %li
                      = link_to 'Кандидаты', candidates_path, class: 'btn'
                    %li
                      = link_to 'Компании', companies_path, class: 'btn'
                .col-xs-1
              .row
                .col-xs-offset-4.col-xs-7
                  %ul.nav.nav-pills
                    %li
                      = link_to new_sticker_path, class: 'btn' do
                        %i.glyphicon.glyphicon-plus
                    %li
                      = link_to new_vacancy_path, class: 'btn', id:'add-vacancy' do
                        %i.glyphicon.glyphicon-plus
                    %li
                      = link_to new_candidate_path, class: 'btn', id: 'add-candidate' do
                        %i.glyphicon.glyphicon-plus
                    %li
                      = link_to new_company_path, class: 'btn' do
                        %i.glyphicon.glyphicon-plus
                .col-xs-1
            .col-xs-3
              %ul.nav.navbar-nav.navbar-right
                - if user_signed_in?
                  %li
                    = link_to user_path(current_user) do
                      %i.glyphicon.glyphicon-user
                      = current_user.email
                  %li
                    = link_to destroy_user_session_path do
                      %i.glyphicon.glyphicon-off
                      = 'Выйти'
      .row.well
        - if controller.controller_name == 'stickers'
          .row
            .col-xs-8
              .panel.panel-default
                .panel-body
                  .row
                    .col-xs-12
                      .panel.panel-primary
                        .panel-heading
                          .row.panel-title
                            .col-xs-12
                              = 'Предстоящие события'
                        .panel-body
                          .row
                            .col-xs-12
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                              It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                              and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  .row
                    .col-xs-12
                      .panel.panel-primary
                        .panel-heading
                          .row.panel-title
                            .col-xs-12
                              = 'Последние действия над вакансиями'
                        .panel-body
                          .row
                            .col-xs-12
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                              It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                              and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            .col-xs-4
              .panel.panel-default
                .panel-body
                  = yield
        - else
          .row
            .col-xs-2
              .panel.panel-body
                = yield :left_sidebar
            .col-xs-10
              .panel.panel-body
                = yield
