!!!
%html
  %head
    %title Faceit-hrm
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'vacancies'
    = csrf_meta_tags
  %body.jumbotron
    .container-fluid
      .row.navbar.navbar-default
        .col-xs-12
          .row
            .col-xs-2
              .navbar-header
                = link_to 'Faseit-HRM system', root_path, class: 'navbar-brand'
            .col-xs-7
              %ul.nav.nav-pills
                %li
                  = link_to 'Органайзер', stickers_path, class: 'btn'
                  = link_to events_path, class: 'btn' do
                    %i.glyphicon.glyphicon-calendar
                %li
                  = link_to 'Вакансии', vacancies_path, class: 'btn'
                  = link_to new_vacancy_path, class: 'btn', id: 'add-vacancy' do
                    %i.glyphicon.glyphicon-plus
                %li
                  = link_to 'Кандидаты', candidates_path, class: 'btn'
                  = link_to new_candidate_path, class: 'btn', id: 'add-candidate' do
                    %i.glyphicon.glyphicon-plus
                %li
                  = link_to 'Компании', companies_path, class: 'btn'
                  = link_to new_company_path, class: 'btn', id: 'add-company' do
                    %i.glyphicon.glyphicon-plus
                - if current_user.try(:post) == 'Директор'
                  %li
                    = link_to 'Менеджеры', users_path, class: 'btn'
            .col-xs-3
              %ul.nav.navbar-nav.navbar-right
                - if user_signed_in?
                  %li
                    = link_to user_path(current_user) do
                      %i.glyphicon.glyphicon-user
                      = current_user.email
                  %li
                    = link_to destroy_user_session_path do
                      %i.glyphicon.glyphicon-off
                      = 'Выйти'
      = flash[:notice]
      .row.well
        - if controller.controller_name == 'stickers' || controller.controller_name == 'archives'
          .row
            .col-xs-5
              .row
                .col-xs-12
                  .panel{ style: '-webkit-box-shadow: 8px 8px 6px -6px #999; -moz-box-shadow: 8px 8px 6px -6px #999; box-shadow: 8px 8px 6px -6px #999;'}
                    .panel-heading
                      .row.panel-title
                        .col-xs-12
                          %strong
                            = 'Предстоящие события'
                    .panel-body
                      .row
                        .col-xs-12
                          %table.table.table-striped
                            %tbody
                              -@events.each do |event|
                                %tr
                                  %td
                                    %span.label.label-default
                                      Интервью
                                    = return_upcoming_events(event)
              .row
                .col-xs-12
                  .panel{ style: '-webkit-box-shadow: 8px 8px 6px -6px #999; -moz-box-shadow: 8px 8px 6px -6px #999; box-shadow: 8px 8px 6px -6px #999;'}
                    .panel-heading
                      .row.panel-title
                        .col-xs-12
                          %strong
                            = 'Последние действия над вакансиями'
                    .panel-body
                      .row
                        .col-xs-12
                          %table.table.table-striped
                            %tbody
                              -@staff_relations.each do |sr|
                                %tr
                                  %td= link_to sr.vacancy.name, vacancy_path(sr.vacancy), id: 'vacancy-name'
                                  %td= "кандидат #{link_to sr.candidate.name, candidate_path(sr.candidate.name)}".html_safe
                                  %td
                                    %span{ class: "label label-#{return_status_label(sr)}" }
                                      = sr.status
                                  %td
                                    .label.label-primary
                                      = sr.updated_at.strftime('%b %e %H:%M')
            .col-xs-7
              .panel.panel-default{ style: '-webkit-box-shadow: 8px 8px 6px -6px #999; -moz-box-shadow: 8px 8px 6px -6px #999; box-shadow: 8px 8px 6px -6px #999;'}
                .panel-body
                  = yield
        - else
          .row
            .col-xs-2
              .panel.panel-body
                = yield :left_sidebar
            .col-xs-10
              .row
                .col-xs-12
                  .panel.panel-body
                    = yield
              = yield :footer_panel

