!!!
%html
  %head
    %title Faceit-hrm
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href =>"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css", rel: "stylesheet"}/
    %link{:href =>"https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel: "stylesheet"}/

    = csrf_meta_tags
  %body
    .row{ style: 'padding-top: 60px;' }
    .container-fluid
      %nav.navbar.navbar-inverse
        .navbar-header
          %button.navbar-toggle.collapsed{ 'aria-expanded' => 'false', 'data-target' => '#bs-navbar-collapse-1', 'data-toggle' => 'collapse', type: 'button' }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Faceit-HRM system', root_path, class: 'navbar-brand'
        #bs-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to 'Органайзер', organisers_path
              = link_to events_path do
                %i.glyphicon.glyphicon-calendar
            %li
              = link_to 'Вакансии', vacancies_path
              %span.sr-only
              = link_to new_vacancy_path, id: 'add-vacancy' do
                %i.glyphicon.glyphicon-plus
            %li
              = link_to 'Кандидаты', candidates_path
              = link_to '#', class: 'dropdown-toggle', 'aria-expanded' => 'false', 'aria-haspopup' => 'false',
                             'data-toggle' => 'dropdown', role: 'button', style: 'color:#ddd;', id: 'add-candidate' do
                %i.glyphicon.glyphicon-th-list
                %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to new_candidate_path, id: 'add-candidate' do
                      %i.glyphicon.glyphicon-plus
                      Добавить вручную
                  %li
                    %a.resume_upload
                      %i.glyphicon.glyphicon-download-alt
                      Загрузить из файла
                    = form_for :upload_resume, html: { hidden: true }, method: 'POST', url: upload_resume_candidates_path do |f|
                      = f.file_field :file
                      = f.submit 'save'

            %li
              = link_to 'Компании', companies_path
              = link_to new_company_path, id: 'add-company' do
                %i.glyphicon.glyphicon-plus
            - if current_user.try(:post) == 'Директор'
              %li
                = link_to 'Менеджеры', users_path
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to user_path(current_user) do
                %i.glyphicon.glyphicon-user
                = current_user.email
            %li
              = link_to destroy_user_session_path do
                %i.glyphicon.glyphicon-off
                = 'Выйти'
    .row{ style: 'padding-top: 60px;' }
    .container-fluid
      .flash-container
        = render 'share/flash_messages'
      = yield
