!!!
%html
  %head
    %title Faceit
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.jumbotron
    .container-fluid
      .row.navbar.navbar-default
        .col-xs-12
          .row.vertical-align
            .col-xs-2
              .navbar-header
                %a.navbar-brand{ href: '#' } Faseit-HRM system
            .col-xs-7
              .row
                .col-xs-offset-4.col-xs-7
                  %ul.nav.nav-pills
                    %li
                      = link_to 'Органайзер', '#', class: 'btn'
                    %li
                      = link_to 'Вакансии', '#', class: 'btn'
                    %li
                      = link_to 'Кандидаты', '#', class: 'btn'
                    %li
                      = link_to 'Компании', '#', class: 'btn'
                .col-xs-1
              .row
                .col-xs-offset-4.col-xs-7
                  %ul.nav.nav-pills
                    %li
                      = link_to '#', class: 'btn' do
                        %i.glyphicon.glyphicon-calendar
                    %li
                      = link_to '#', class: 'btn' do
                        %i.glyphicon.glyphicon-plus
                    %li
                      = link_to '#', class: 'btn' do
                        %i.glyphicon.glyphicon-plus
                    %li
                      = link_to '#', class: 'btn' do
                        %i.glyphicon.glyphicon-plus
                .col-xs-1
            .col-xs-3
              %ul.nav.navbar-nav.navbar-right
                - if user_signed_in?
                  %li
                    = link_to user_path(current_user) do
                      %i.glyphicon.glyphicon-user
                      = current_user.email
                  %li
                    = link_to destroy_user_session_path, method: :delete do
                      %i.glyphicon.glyphicon-remove-circle
                      = 'Выйти'
                - else
                  %li
                    = link_to  'Зарегистрироваться', new_user_registration_path
                  %li
                    %a
                      = 'или'
                  %li
                    = link_to  'Войти', new_user_session_path
      .row.well
        .col-xs-2
          .panel.panel-default
            .panel-body
              %h2
                left sidebar
        .col-xs-10
          .panel.panel-default
            .panel-body
              = yield