!!!
%html
  %head
    %title Faceit-hrm
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container-fluid
      .row{ style: 'padding-top: 100px;' }
        .col-sm-4.col-sm-offset-4
          = flash[:notice]
          = yield